h1 {
	font-size:20px;
}
.btn-success {
	background-color:purple;
}
.jumbotron {
	background-image:url(https://static.pexels.com/photos/27403/pexels-photo-27403.jpg);
}
.navbar {
	margin-bottom:0px;
}